[user]
	email = xxx
	name = vishmehta
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]   
        cam = commit -am
        ps = push
        pu = push
        p = pull
        s = status
        d = diff
[color]
        ui = true
[color "branch"]
        current = yellow bold
        local = green bold
        remote = cyan bold
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = red reverse
[color "status"]
        added = green bold
        changed = yellow bold
        untracked = red bold
